body{
    margin: 0;
    font-family:'Roboto', sans-serif;
    line-height: 1.6;
}
img{
    object-fit: cover;
}
.container{
    display: flex;
    justify-content: center;
    grid-gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inicio{
    width: 100%;
    height: 600px;
}
.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}
.banner {
        background-color: #292625; 
        color: white; 
        text-align: center; 
        padding: 40px; 
        font-size: 28px;  
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/*cards*/
.card-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.card {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
}

.card:hover {
    transform: translateY(-5px);
}

/* Contenedor de imágenes para hacer el efecto hover */
.card-img-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

/* Imagen secundaria oculta inicialmente */
.card-img-container .second-image {
    opacity: 0;
}

/* Mostrar la segunda imagen al hacer hover */
.card:hover .second-image {
    opacity: 1;
}

/* Ocultar la imagen principal al hacer hover */
.card:hover .first-image {
    opacity: 0;
}

.card-content {
    padding: 5px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.card-description {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.card-price {
    font-size: 1.2em;
    color: #E67E22;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #E67E22;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #D35400;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 600px) {
    .card-content {
        padding: 15px;
    }

    .card-title {
        font-size: 1.3em;
    }

    .card-price {
        font-size: 1.1em;
    }

    .card-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

/* Estilos generales del footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .footer-column p, .footer-column ul {
    font-size: 14px;
    line-height: 1.6;
    color: #bbb;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: #fff;
  }
  
  .footer-column .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-column .social-icons img {
    width: 24px;
    height: 24px;
  }
  
  /* Estilo de la sección de derechos reservados */
  .footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
    font-size: 14px;
    color: #bbb;
  }

  .footer a {
    color: inherit;
    text-decoration: none;
  }
  
  a {
    color: inherit;       /* Toma el color de su elemento padre o puedes especificar un color */
    text-decoration: none; /* Elimina el subrayado */
  }
  
  a:hover {
    color: #666;          /* Cambia el color al pasar el cursor, opcional */
  }
  
  